.SecondExample {
  text-align: center;
  width: 100%;
}

.SecondExample-text {
  color: #4b5658;
  font-size: 20px;
}

.SecondExample-link {
  color: #4b5658;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid #4b5658;
  }
}

.SecondExample-github-link {
  color: #3079ab;
  font-size: 22px;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid #3079ab;
  }
}
