@each $name in $button-and-icon-colors {
  @if $name == default {
    .ui.genomix.button {
      background-color: genomix-color('light-blue');
      color: genomix-color('white');
      font-family: inherit;
    }

    .ui.genomix.button:hover {
      box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset !important;
    }

    .ui.genomix.button.inverted {
      background-color: transparent;
      box-shadow: 0 0 0 1px genomix-color('light-smoke') inset !important;
      color: genomix-color('slate');
    }

    .ui.genomix.button.inverted:hover {
      background-color: genomix-color('light-blue');
      box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset !important;
      color: genomix-color('white');
    }
  } @else {
    .ui.genomix.button.#{$name} {
      background-color: genomix-color($name);
      color: genomix-color('white');
    }

    .ui.genomix.button.#{$name}:hover {
      background-color: genomix-color('dark-'+$name);
      box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset !important;
    }

    .ui.genomix.inverted.button.#{$name} {
      background-color: transparent;
      color: genomix-color('slate');
      box-shadow: 0 0 0 1px genomix-color('light-smoke') inset !important;
    }
    .ui.genomix.inverted.button.#{$name} > i.icon {
      color: genomix-color($name) !important;
    }
    .ui.genomix.inverted.button.#{$name}:hover {
      background-color: genomix-color($name);
      color: genomix-color('white');
      box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset !important;
    }
    .ui.genomix.inverted.button.#{$name}:hover > i.icon {
      color: genomix-color('white') !important;
    }
  }
}
