$button-colors: (
  default,
  light-blue,
  dark-blue,
  light-grey,
  dark-grey,
  pink,
  green,
  primary,
  secondary,
  tertiary
);

@each $name in $button-colors {
  @if $name == default {
    .ui.genomix.button {
      background-color: genomix-color(dark-grey);
      color: genomix-color(white);
    }

    .ui.genomix.button:hover {
      background-color: transparent;
      box-shadow: 0 0 0 2px genomix-color(dark-grey) inset !important;
      color: genomix-color(dark-grey);
    }

    .ui.genomix.button.inverted {
      background-color: transparent;
      box-shadow: 0 0 0 2px genomix-color(dark-grey) inset !important;
      color: genomix-color(dark-grey);
    }

    .ui.genomix.button.inverted:hover {
      background-color: genomix-color(dark-grey);
      color: genomix-color(white);
    }
  } @else {
    .ui.genomix.button.#{$name} {
      background-color: genomix-color($name);
      color: genomix-color(white);
    }

    .ui.genomix.button.#{$name}:hover {
      background-color: transparent;
      color: genomix-color($name);
      box-shadow: 0 0 0 2px genomix-color($name) inset !important;
    }

    .ui.genomix.inverted.button.#{$name} {
      background-color: transparent;
      color: genomix-color($name);
      box-shadow: 0 0 0 2px genomix-color($name) inset !important;
    }

    .ui.genomix.inverted.button.#{$name}:hover {
      background-color: genomix-color($name);
      color: genomix-color(white);
    }
  }
}
