.ui.table.genomix.infinite thead th {
  padding: 0;
  z-index: 99
}

.genomix.sticky.th > * {
  z-index: 99;
}

.genomix.infinite.th {
  background: genomix-color('th-background');
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 99
}
