.pushable > .pusher {
  height: -webkit-fill-available
}
.genomix-sidebar {
  background-color: #273444 !important;
  box-shadow: inset 0 0 10px rgba(34, 36, 38, 0.30) !important;
}
.genomix-sidebar > .item {
  color: #C0CCDA !important;
  font-weight: 100 !important;
  font-family: Helvetica !important;
}
